/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/

* {
    margin: 0%;
    padding: 0%;
  }
  .navbar {
    position: relative;
    transition: 0.5s;
    z-index: 999;
  }
  
  .navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 10000;
  }
  
  .navbar .navbar-brand {
    margin: 0;
    color: #ffffff;
    font-size: 45px;
    line-height: 0px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
  }
  
  .navbar .navbar-brand span {
    color: #343148;
    text-transform: lowercase;
    transition: 0.5s;
  }
  
  .navbar.nav-sticky .navbar-brand span {
    color: #ffffff;
  }
  
  .navbar .navbar-brand img {
    max-width: 100%;
    max-height: 40px;
  }
  
  .navbar-dark .navbar-nav .nav-link,
  .navbar-dark .navbar-nav .nav-link:focus,
  .navbar-dark .navbar-nav .nav-link:hover,
  .navbar-dark .navbar-nav .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: #ffffff;
  }
  
  .navbar-dark .navbar-nav .nav-link:hover,
  .navbar-dark .navbar-nav .nav-link.active {
    background: rgba(256, 256, 256, 0.4);
    transition: none;
  }
  
  .navbar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
  }
  
  @media (min-width: 992px) {
    .navbar {
      position: fixed;
      top: 0;
      width: 100%;
      padding: 20px 60px;
      background: rgba(0, 0, 0, 0.1) !important;
      z-index: 9;
    }
  
    .navbar.nav-sticky {
      padding: 10px 60px;
      /* background: rgba(255, 153, 102, 1) !important; */
      background: rgba(255, 94, 98, 1) !important;
    }
  
    .navbar a.nav-link {
      padding: 8px 15px;
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
  
  @media (max-width: 991.98px) {
    .navbar {
      padding: 15px;
      background: #343148 !important;
    }
  
    .navbar.nav-sticky {
      position: sticky;
    }
  
    .navbar .navbar-brand span {
      color: #ffffff;
    }
  
    .navbar a.nav-link {
      padding: 5px;
    }
  
    .navbar .dropdown-menu {
      box-shadow: none;
    }
  }
  